:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none; // You should add some other style for :focus to help UX/a11y
}

html, body {
	font-family: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
	-webkit-app-region: drag;
	color: #111111
}

.center {
	text-align: center;
}

#dude-display, #not-dude-display {
	font-size: 24px;
	font-family: "Courier New", Courier, monospace;
}

#button-div {
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;
}
.btn-default {
	width: 120px;
	height: 60px;
	border-radius: 10%;
	padding: 20px 0px 0px 0px;
	border: none;
	box-shadow: 0 10px #DDD;
	margin-bottom: 10px;
}
.btn-default:hover, .btn-default:active {
	box-shadow: 0 7px #DDD;
	margin-top: 3px;
	margin-bottom: 7px;
}

.red, .red:hover, .red:active {
	background-color: #FF4136;
}
.red.pressed {
	background-color: #FF4136;
	box-shadow: none;
	margin-top: 10px;
	margin-bottom: 0px;
}

.blue, .blue:hover, .blue.pressed, .blue:active {
	background-color: #0074D9;
}
.blue.pressed {
	background-color: #0074D9;
	box-shadow: none;
	margin-top: 10px;
	margin-bottom: 0px;
}

#ans {
	font-size: 24px;
	font-family: "Courier New", Courier, monospace;
	color: #1F1F1F;
}
